{% extends 'base.html' %}
{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

      
        <h1 class="text-center logo my-4">
          <a style="color: black;">bonjour <span style="color: rgb(228, 13, 13);">{{ user.username }}</span> vous pouvez changer votre mot de passe : </a>
        </h1>

      </div>
    </section><!-- End Breadcrumbs -->

<div  class="row">
    <div style="  padding: 55px;    margin: auto; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);" class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" style =" color: rgb(255, 255, 255) ; background-color: black;" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>


{% endblock %}