{% extends 'base.html' %}

{% load static%}
<!DOCTYPE html>
<html lang="en">
  

  {% block content %}


  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
  
      
        <h1 class="text-center logo my-4">
          <a style="color: black;">foyers etatique</a>
        </h1>
  
      </div>
    </section>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
      <!--  111111111-->

        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     padding: 27px;
        margin-bottom: 63px; margin: 26px 175px 24px 112px; width: 849px;"class="row">

          <div style="width: 383px ; height: auto;">
            <h2 style="color: black;" class="portfolio-title" href=""> foyer farabi </h2>
              <img style="max-width:94%;" src="{% static 'assets/img/portfolio/farabi.jpg'%}" class="img-fluid" alt="" href="">
          </div>

          <div style="width: 32% ;     margin-left: 30px;">
            <h3 style="color: black;"> </h3>
            <ul style="margin-top: 3rem;">
              <li><strong>Adresse</strong> : Route de l'éroport Km 4 3029 - SFAX</li>
              <li><strong>Téléphone</strong>: 74278775</li>
              <li><strong>Fax</strong>: 74279096</li>

            </ul>

            <p>
              <a  style=" border-radius: 7px ;"class="buttonmap" href="#">Emplacement </a>

            </p>
          </div>

        </div>



      <!--  111111111-->



      <!--  22222222-->

        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     padding: 27px;
        margin-bottom: 63px; margin: 26px 175px 24px 112px; width: 849px;"class="row">

          <div style="width: 383px ; height: auto;">
            <h2 style="color: black;" class="portfolio-title" href=""> foyer IMAM SAHNOUN</h2>
              <img style="max-width:94%;" src="{% static 'assets/img/portfolio/sahnoun1.png'%}" class="img-fluid" alt="" href="">
          </div>

          <div style="width: 32% ;     margin-left: 30px;">
            <h3 style="color: black;"> </h3>
            <ul style="margin-top: 3rem;">
              <li><strong>Adresse</strong> : Rue mahmoud krichen B.P 1106 SFAX 3002</li>
              <li><strong>Téléphone</strong>:74224839</li>
              <li><strong>Fax</strong>: 74223953</li>
            </ul>

            <p>
              <a  style=" border-radius: 7px ;"class="buttonmap" target="_blank" rel="noopener noreferrer" href="https://www.google.tn/maps/place/Foyer+Universitaire+Imam+Sahnoun/@34.7316785,10.7486586,17z/data=!3m1!4b1!4m5!3m4!1s0x13002cd6944ddc73:0xadfeb37c14a3c076!8m2!3d34.7316785!4d10.7508526?hl=fr">Emplacement </a>
            </p>
          </div>

        </div>


      <!--  22222222-->




      <!--  333333333333-->


        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     padding: 27px;
        margin-bottom: 63px; margin: 26px 175px 24px 112px; width: 849px;"class="row">

          <div style="width: 383px ; height: auto;">
            <h2 style="color: black;" class="portfolio-title" href=""> foyer RAED BEJAOUI </h2>
              <img style="max-width:94%;" src="{% static 'assets/img/portfolio/bejaoui.jpg'%}" class="img-fluid" alt="" href="">
          </div>

          <div style="width: 32% ;     margin-left: 30px;">
            <h3 style="color: black;"> </h3>
            <ul style="margin-top: 3rem;">
              <li><strong>Adresse</strong> : Rue raed bjaoui - 3002 - SFAX</li>
              <li><strong>Téléphone</strong>: 74228803</li>
              <li><strong>Fax</strong>: 74228803</li>
            </ul>

            <p>
              <a  style=" border-radius: 7px ;"class="buttonmap" target="_blank" rel="noopener noreferrer" href="https://www.google.tn/maps/place/foyer+universitaire+raed+bejaoui/@34.7289365,10.7525462,17z/data=!4m5!3m4!1s0x13002d28314e6d5d:0x67666a56859d316e!8m2!3d34.7292716!4d10.753957?hl=fr">Emplacement </a>
            </p>
          </div>

        </div>




      <!--  333333333333-->










      <!--  444444444444-->

        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     padding: 27px;
        margin-bottom: 63px; margin: 26px 175px 24px 112px; width: 849px;"class="row">

          <div style="width: 383px ; height: auto;">
            <h2 style="color: black;" class="portfolio-title" href=""> foyer TENIOUR SFAX </h2>
              <img style="max-width:94%;" src="{% static 'assets/img/portfolio/teniour.jpg'%}" class="img-fluid" alt="" href="">
          </div>

          <div style="width: 32% ;     margin-left: 30px;">
            <h3 style="color: black;"> </h3>
            <ul style="margin-top: 3rem;">
              <li><strong>Adresse</strong> :route de teniour Km 0.5 B.P 1098 SFAX 3002</li>
              <li><strong>Téléphone</strong>: 74236046</li>
              <li><strong>Fax</strong>: 74235404</li>
            </ul>

            <p>
              <a  style=" border-radius: 7px ;"class="buttonmap" target="_blank" rel="noopener noreferrer" href="https://www.google.tn/maps/place/Foyer+Universitaire+Teniour/@34.7484745,10.7571207,17z/data=!3m1!4b1!4m5!3m4!1s0x1301d2d75bee5ebd:0x2c5f0dbe285eb0b8!8m2!3d34.7484669!4d10.759268?hl=fr">Emplacement </a>
            </p>
          </div>

        </div>

      <!--  4444444444 -->
















        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     padding: 27px;
        margin-bottom: 63px; margin: 26px 175px 24px 112px; width: 849px;"class="row">

          <div style="width: 383px ; height: auto;">
            <h2 style="color: black;" class="portfolio-title" href=""> foyer ELBASSETINE </h2>
              <img style="max-width:94%;"  src="{% static 'assets/img/portfolio/basetteni.jpg'%} " class="img-fluid" alt="" href="">
          </div>

          <div style="width: 32% ;     margin-left: 30px;">
            <h3 style="color: black;"> </h3>
            <ul style="margin-top: 3rem;">
              <li><strong>Adresse</strong> : Cité jardine B.P 789 3018 - SFAX</li>
              <li><strong>Téléphone</strong>: 74296101</li>
              <li><strong>Fax</strong>: 74210191</li>
            </ul>

            <p>
              <a  style=" border-radius: 7px ;"class="buttonmap" target="_blank" rel="noopener noreferrer" href="https://www.google.tn/maps/place/Foyer+Universitaire+Bassatine/@34.7470161,10.7629877,17z/data=!3m1!4b1!4m5!3m4!1s0x1301d2d0116b813d:0x1bbb7a16bd52a5c2!8m2!3d34.7470161!4d10.7651817?hl=fr">Emplacement </a>
            </p>
          </div>

        </div>





































      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  {% endblock %}

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>