{% extends 'base.html' %}

{% load static%}

<!DOCTYPE html>
<html lang="en">

  {% block content %}

  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
  
      
        <h1 class="text-center logo my-4">
          <a style="color: black;">isgi</a>
        </h1>
  
      </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);      padding: 27px;" class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{%static 'assets/img/isgi.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Institut Supérieur de Gestion Industrielle de Sfax</h3>
            <p class="font-italic">
    
            </p>

            <p>
              L’Institut supérieur de Gestion Industrielle est l’une des institutions de l’Université de Sfax, créé le 09 Juillet 2002 
              par le décret n°1623 de l’année 2002 dans le cadre de la consolidation de la compétitivité des entreprises industrielles 
              tunisiennes. 
              L’objectif étant de répondre de façon pragmatique, aux besoins du marché de l’emploi,
               par des compétences professionnelles, qui seront directement intégrées dans le tissu industriel.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <section id="portfolio" class="portfolio">
      <div class="container">
    
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Filières ISGI</li>
            </ul>
          </div>
        </div>
      </section>
    
    
    <section id="pricing" class="pricing">
      <div class="container">
    
        <div class="row no-gutters">
    
          <div class="col-lg-4 box">
            <h3>Licence nationale</h3>
          
            <ul>
              <li><i class="bx bx-check"></i> Licence Nationale en Génie Industriel : maîtrise et management de la qualité</li>
              <li><i class="bx bx-check"></i> Licence Nationale en Génie Industriel : management des systèmes industriels</li>
              <li><i class="bx bx-check"></i> Licence Nationale en Génie Logistique</li>
              <li><i class="bx bx-check"></i> Licence Nationale en Sciences de Transport</li>
              <li><i class="bx bx-check"></i> Licence Nationale en Génie Mécanique</li>
              <li><i class="bx bx-check"></i> Licence Nationale en eea</li>
              <li><i class="bx bx-check"></i> Licence Nationale en Informatique de Gestion</li>
            </ul>
          </div>
          <div class="col-lg-4 box featured">
            <h3>licence appliquée</h3>
        
            <ul>
              <li><i class="bx bx-check"></i> Licence Appliquée en Gestion : Production & Logistique</li>
              <li><i class="bx bx-check"></i> Licence Appliquée en Génie Logistique - LAGL</li>
              <li><i class="bx bx-check"></i> Licence Appliquée en Electrotechnique, Electrotechnique et Automatique:</li>
              <li><i class="bx bx-check"></i> Licence Appliquée en Economie - LAE</li>
              <li><i class="bx bx-check"></i> Licence Appliquée en Electromécanique</li>
              <li><i class="bx bx-check"></i> Licence Appliquée en Informatique de gestion</li>
            </ul>

         
          </div>
    
          <div class="col-lg-4 box ">
            <h3>Master de Recherche et Masters Professionnels</h3>
            
            <ul>
              <li><i class="bx bx-check"></i> MR - Master de Recherche en Génie Industriel</li>
              <li><i class="bx bx-check"></i> MR - Master de Recherche Sciences des Transports et de la Logistique</li>
              <li><i class="bx bx-check"></i> MP - Génie Industriel et Logistique (mp-gil)</li>
              <li><i class="bx bx-check"></i> MP - Management Intégré: Qualité/Sécurité/Environnement</li>
              <li><i class="bx bx-check"></i> MP - Management et Maintenance des Systèmes Industriels (ii)</li>
         
            </ul>
          </div>
          
    
    
        </div>
    
      </div>


  
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Galerie des photos</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/isgi1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{%static 'assets/img/portfolio/isgi1.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/isgi2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{%static 'assets/img/portfolio/isgi2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/isgi3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{%static 'assets/img/portfolio/isgi3.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/isgi4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{%static 'assets/img/portfolio/isgi4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
         

      
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <!-- ======= Testimonials Section ======= -->
      <section  id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="section-title">
            <h2 style="color: black;">Testimonials</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="testimonial-item">
                <img src="{%static  'assets/img/testimonials/testimonials-1.jpg'%}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="testimonial-item mt-4 mt-lg-0">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="testimonial-item mt-4">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="testimonial-item mt-4">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="testimonial-item mt-4">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="testimonial-item mt-4">
                <img src="assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
                <h3>Emily Harison</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Eius ipsam praesentium dolor quaerat inventore rerum odio. Quos laudantium adipisci eius. Accusamus qui iste cupiditate sed temporibus est aspernatur. Sequi officiis ea et quia quidem.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  {% endblock %}

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>